* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align-last: left;
}

.text-right {
    text-align: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    max-width: 100%;
}

.mid-content {
    max-width: 1200px;
    margin: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
    font-family: 'Work Sans', sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.heaer-logo span {
    transition: .4s;
}

.heaer-logo span:hover {
    color: #cccccc;

}


/* hader-work-start */

.headfer-section {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 6px 0px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.heaer-logo {
    width: 30%;
}

.heaer-menu {
    width: 54%;
}

.heaer-button {
    width: 14%;
}


.heaer-logo a {}

.heaer-logo a span {
    color: #010101;
    margin-left: 10px;
    display: inline-block;
    font-weight: 500;
    font-size: 26px;
    margin-top: 15px;
}

.heaer-logo img {
    width: 50px;
    float: left;

    margin-top: 7px;
}

.primary-menu {}

.primary-menu ul {

    margin-left: 15px;
}

.primary-menu ul li {
    display: inline-block;
}

.primary-menu ul li a {
    display: block;
    padding: 0 20px;
    color: #000;
    line-height: 58px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

.primary-menu ul .fast {
    width: 210px !important;
}

.primary-menu ul li a:hover {
    color: #6278df;
}


.header-btn {
    border: 2px solid #6278df;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 8px;
    color: #6278df !important;
    font-size: 17px;
    font-weight: 600;
    transition: .5s;
}

.header-btn:hover {
    background-color: #6278df;
    color: white !important;
    box-shadow: 3px 3px 27px -3px #6278df;
}

/* drop-down-menu */

.primary-menu ul li {
    position: relative;

}

.br {
    border-bottom: 1px solid #e6e6e6;
    ;
}



.primary-menu ul li ul {
    position: absolute;
    left: 0;
    top: 112%;
    background: #fff;
    width: 210px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 0.5s;
    z-index: 9999;

}

.primary-menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.primary-menu ul li ul li .second {
    width: 300px i !important;
}

.second {
    width: 300px !important;
}




.primary-menu ul li ul li {
    display: block;
}

/* baner-section */

.banner-section {
    background: url(./img/asset\ 7.jpeg) no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    position: relative;
    z-index: 9;
    margin-top: 70px;

}

.banner-section::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

.banner-content {}

.banner-content h3 {
    font-size: 26px;
    font-weight: 400;
}

.banner-content h2 {
    font-size: 60px;
    margin: 30px 0;
}

.default-btn {
    color: #7d7d7d;
    padding: 20px 30px;
    background: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 14px;
    border-radius: 10px;
    transition: .4s;
}

.default-btn:hover {
    background: #6278df;
    color: #fff;
}

/*  Banner Section  */
.banner-bottom {
    background: #f7f9ff;
    padding: 100px 0;
}

/*  Banner Section  */
.banner-bottom {
    background: #f7f9ff;
    padding: 100px 0;
}

.video-left {
    width: 48%;
}

.video-content-right {
    width: 48%;
}

.video-content-right h3 {
    font-size: 51px;
    font-weight: 400;
    margin-bottom: 35px;
}

.video-content-right p {
    color: #767676;
    font-size: 18px;
    line-height: 1.7em;
}

.service-section {
    background: #fff;
    padding: 100px 0;
}

.section-title h1 {
    font-size: 64px;
    margin-bottom: 30px;
}

.section-title p {
    color: #767676;
    font-size: 26px;
}

/*  Serice Item  */
.services-items {
    margin-top: 90px;
}





.service-box {
    width: 31.3%;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
    margin-right: 3%;
    margin-bottom: 30px;
    padding: 25px;
    box-sizing: border-box;
    transition:.4s;
    cursor: pointer;
}

.service-box:nth-child(3n+3){
    margin-right: 0;
}

.service-box:hover{
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .2);
}

.s-icon {
    width: 60px;
    float: left;
    min-height: 168px;
    font-size: 45px;
    color: #6278df;
    margin-right: 10px;
}

.s-content {
    margin-top: 8px;
}

.s-content h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}

.s-content p {
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}

.section-title .pr {
    font-size: 57px;
    font-weight: 400;
    margin-bottom: 74px;
}

.prising-section {
    background: #f7f9ff;
    padding: 50px 0px;
}

.prising-items {
    margin-top: 75px;
}

.prising-item {
    width: 31%;
    background: white;
    margin-right: 3%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.2);
    transition: 0.5s;

}

.prising-item:last-child {
    margin: 0;
}

.pt {
    padding: 29px;
    border-bottom: 1px solid #c6c6c6;
    transition: 0.5s;
}

.pt h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

.pt h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.pt h1 span {
    font-size: 20px;
}

.pt h4 {
    font-size: 27px;
    font-weight: 400;
}

.pt p {
    font-size: 22px;
    margin-top: 30px;
    color: #0f0f0f;
    font-weight: 300;
    line-height: 34px;
}

.pm {
    padding-top: 50px;
}

.pm ul {
    list-style: none;
}

.pm ul li {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 41px;
}

.pm ul li span {
    color: #6278df;
    font-size: 31px;
    width: 79px;
    text-align: center;
}

.pb {
    text-align: center;
    padding-bottom: 50px;
}

.pb .ptn {
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.2);
    transition: 0.5s;
}

.prising-item:hover .pt {
    background: #6278df;
    color: #fff !important;
}

.prising-item:hover .ptn {
    background: #6278df;
    color: #fff;
}

.prising-item:hover .pt p {
    color: #ffff !important;
}

.ptn:hover {
    background: #000 !important;
    color: white !important;
}


/* team-section */

.team {
    background: #fff;
    padding: 80px 0px;
}

.team-left {
    width: 23%;
    margin-right: 2%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
    border-radius: 0px 0px 5px 5px;
    transform: .4s;
    cursor: pointer;
}

.team-left:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.2);
}

.team-left:last-child {
    margin: 0;
}

.team-left img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.member-bio {
    padding: 28px 0px;
    margin-left: 25px;
}

.member-bio h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.member-bio p {
    color: #767676;
    font-size: 23px;
    font-weight: 200;
}

.team-text h2 {
    text-align: center;
    font-size: 43px;
    font-weight: 500;
    margin-bottom: 79px;
}

/* newsletter-section */

.newsletter {
    background: #f7f9ff;
    padding: 100px 0px;
}

.section-title .newsletter-text {}

.section-title.newsletter-text p {
    font-size: 25px;
    margin-bottom: 50px;
}

.newsletter h2 {
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 50px;
}

.defalt-input {

    font-size: 19px;
    font-weight: normal;
    padding-top: 23px;
    padding-bottom: 21px;
    padding-left: 20px;
    padding-right: 118px;
    outline: none;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    color: #767676;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
    transition: .4s;
}

.defalt-input:focus {
    border-color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}


.submit-btn {

    font-size: 24px;
    font-weight: normal;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
    padding: 18px 66px;
    margin-left: 20px;
    background-color: #6278df;
    border-color: #6278df;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .4s;
    border: 2px solid #6278df;
    border-radius: 5px;
}

.submit-btn:hover {

    background-color: white;
    color: #6278df;
    border-color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;


}

/* blog-section */

.blog {
    padding: 100px 0px;
}

.bh {
    width: 48%;
}

.bc {
    width: 48%;
}

.blog-box {
    width: 48%;
}

.bh h1 {
    font-size: 45px;
    font-weight: 500;
}

.bc p {
    font-size: 20px;
    line-height: 31px;
    color: #767676;
}

.blog-box {
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
    background: #ffffff;
    transition: .5s;
    cursor: pointer;
}

.blog-box:hover {
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.2);
}

.blog-box img {
    float: left;
    width: 300px;
    margin-right: 17px;
}

.bi {}

.bi h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 20px;
}

.bi p {
    font-size: 20px;
    line-height: 31px;
    color: #767676;
}

.blog1 {
    margin-bottom: 76px;
}

/* testimonial-section */

.testimonial {
    padding: 100px 0px;
    background: #f7f9ff;
}

.testimonal-info {
    width: 31%;
    margin-right: 3%;

}



.testimonal-info:last-child {
    margin: 0;
}

.testimonial-content {
    text-align: center;
    margin-bottom: 50px;
}

.testimonial-content p {
    font-size: 30px;
    color: #767675;
    font-weight: 200;
    margin-bottom: 50px;
}

.testimonial-content h2 {
    font-size: 45px;
    font-weight: 500;
}

.testimonial-text{}

.testimonial-text p {
    background: #ffff;
    padding: 55px 41px;
    box-sizing: border-box;
    margin-bottom: 37px;
    font-size: 21px;
    line-height: 39px;
    color: #767676;
    font-weight: 300;
    position: relative;
    border-radius: 5px;

    cursor: pointer;
}


.testimonial-text p::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 90px;
    position: absolute;
    opacity: .1;
    left: 18px;
}

.testimonial-text {
    position: relative;
    box-shadow: 2.5px 4.33px 30px 0 rgba(45, 50, 70, 0.1);
    border-radius: 43px;
    transition:0.5s;
}

.testimonial-text :hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(45, 50, 70, 0.2);
    transition:0.5s;
}

.testimonial-text::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;

}

.testimonial-bio {
    width: 235px;
    margin: auto;
}

.testimonial-bio img {
    float: left;
    width: 73px;
    border-radius: 50%;
    margin-right: 25px;
}

.timg-text {
    position: relative;
    top: 17px;
}

.timg-text h3 {
    margin-bottom: 7px;
    font-size: 19px;
}

.timg-text p {
    color: #767676;
}


/* contact  */

.footer {
    text-align: center;
}

.contact {
    padding-top:80px;
}

.contact-row {}

.contac-left {
    width: 48%;
}

.contac-right {
    width: 43%;
    
}


.w-100 {
    width: 100%;
}

.w-50 {
    width: 48%;
}

.submit-btn.xtw {
    padding: 16px 41px;
    margin: 0;
    margin-top: 43px;
}

.contact-form form input {
    margin-bottom: 20px;
}

.contact-form form textarea {
    height: 200px;
}

.footer {
    margin: 40px 0px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer p{
    font-size: 20px;
}
.footer p span{
    color: #767676;
}

.ct {}

.ct h4 {
    font-size: 27px;
    margin-bottom: 20px;
    font-weight: 500;
    margin-top: 25px;
}

.ct p {
    font-size: 21px;
    line-height: 40px;
    color: #767676;
    margin-bottom: 70px;
    font-weight: 300;
}